<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>Pocket Travel</title>
</head>
<body>
  
    <header>
        <nav class="menu">
            <div class="container">
                <img href="#" src="../images/logo.png">
            </div> 
                <ul>
                    <li><a href="" class="ativo">Inserir Uentes</a></li>
                    <li><a href="">Editar Utentes</a></li>
                    <li><a href="">Ver Utentes</a></li>
                </ul>
        </nav>

            <section class="principal">
                <h2>Com o Pocket Travel é fácil viajar</h2>
                <div class ="links">
                    <a href ="">Se inscreva!</a>
                </div>
            </section>

    </header>
</body>
</html>