<!DOCTYPE html>
<html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/style.css" rel="stylesheet">
        <title>Pocket Travel</title>
    </head>
        <body>
            <!-- https://www.youtube.com/watch?v=SZB6gMaaV84 -->
            <div class="logoMarca">
                <img href="#" src="../images/logo.png" width="140" height="140" >
            </div>

            <input type="checkbox" id="check">

                <!-- COMEÇO DO SIDEBAR -->
                <div class="sidebar">
                    <label for="check">
                        <ion-icon name="menu-outline" id="sidebar_btn"></ion-icon>
                    </label>
                    <center>
                        <img src="../images/user.png" class="image" alt="">
                        <h2>Admin</h2>
                    </center>
                    <a href="../view/criarUtilizadores.html"><ion-icon name="add-circle-outline"></ion-icon><span>Criar Utilizador</span></a>
                    <a href="../view/verUtilizadores.html"><ion-icon name="eye-outline"></ion-icon><span>Ver Utilizadores</span></a>
                    <!--
                    <a href="../view/editarUtilizadores.html"><ion-icon name="create-outline"></ion-icon><span>Editar Utilizadores</span></a>
                    <a href="../view/eliminarUtilizadores.html"><ion-icon name="trash-outline"></ion-icon><span>Eliminar Utilizadores</span></a>
                    -->
                    <a href="../view/home.html"><ion-icon name="log-out-outline"></ion-icon><span>Logout</span></a>
                </div>
                <!-- FINAL DO SIDEBAR -->
               
                
                <div class="content">
                    <section class="principal">
                            <h2>Torne a sua viagem mais fácil com Pocket Travel</h2>
                        </section>
                </div>

                <footer>
                    <p>Pocket Travel - Miguel Pacheco</p>   
                </footer>
            
                <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
                    
        </body>
</html>