<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>Pocket Travel</title>
</head>
<body>
  
    <header>
        <nav class="menu">
            <div class="container">
                <img href="#" src="../images/logo.png">
            </div> 
        </nav>
    </header>
    
        <div class="loginbox">
            <img src="../images/user.png" class="avatar">
                <h1>Login</h1>
                <br>
                <form action="../view/admin.html">
                    <p>Nome do Utilizador</p>
                    <input type="text" name="" placeholder="Insira o nome do utilizador" required>
                    <p>Password</p>
                    <input type="password" name="" placeholder="Insira a password" required>
                    <input type="submit" name="" value="Login">
                    <br>
                    <a href="#">Esqueceu a password?</a><br>
                    <a href="#">Criar conta</a>
                </form>
            
        </div>
    
</body>
</html>